<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button id="get-btn">点我哦</button>
    <button id="post-btn">点我哦</button>
    <button id="http-btn">http请求</button>
    <script src="/js/ajax.js"></script>
  </body>
</html>
